@using TheOthers.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/bootstrap.css" rel="stylesheet"/>
    <script src="/Scripts/bootstrap.js"></script>
    <title>Index</title>
</head>
<body>
    <div style="margin:10px">
        <h1><span class="label label-default">TheOthers Monitor</span></h1>
        
        @Html.TheOthers().BootstrapMonitor()
    </div>
</body>
</html>
